body{
background-image: url("wallpaper.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

}
h4{
  color: #b2b2b2;
  text-align: left;
  font-family: "Mate SC", serif;
}

button {
font-family: "Mate SC", serif;
background-color: #555555;
color: #3f2533;
}
