.background_img {
  background-image: url("Start.jpg");
  background-repeat: no-repeat;

  background-size: contain;
  height: 750px;
}

.main_button{
  margin:200px auto;
  width:20%;
}
.logo{
 margin:-100px auto;

}
