.background_img {
  background-image: url("Start.jpg");
  background-repeat: no-repeat;

  background-size: contain;
  height: 850px;
}

.main_button{
  margin:200px auto;
  width:20%;
  background-color: #555555;
  border-color: #555555;
}
.logo{
 margin:-100px auto;
}

a {
font-family: fantasy;
}
